<img align="left" width="200" src="img/<name>.jpg">

name: </br>
image: [img/<name>.jpg](img/<name>.jpg) </br>
period: </br>

---------

### short bio
 -

### affiliations
 - 

### notable concepts
 -

### whom did this influence
 -

### what to read
 -

### what to watch
 -
